body {
    margin:0;
    padding:0;
    display:flex;
    justify-content:center;
    align-items: center;
    height:100vh;
    background-image:url("Images/back-image.jpg");
    font-family: 'Bangers', cursive;
}

.Ant-img {
    height:400px;
    width:400px;
    position:absolute;
    top:280px;
}
.btn {
    background-color:#7289da;
    color:#fff;
    position:absolute;
    top:750px;
    font-size:30px;
    letter-spacing: 3px;
    overflow:hidden;
}

h1 {
    margin:0;
    padding:0;
    color:black;
    font-size:8em;
}
h1 span:nth-child(5) {
    padding-right:30px;
}

h1 span {
    display:table-cell;
    font-weight:bold;
    margin:0;
    padding:0;
    animation:animate 4s linear infinite;
    position:relative;
    top:-250px;
    letter-spacing: 15px;
}
h1 span:nth-child(1) {
    animation-delay: 0s;
}
h1 span:nth-child(2) {
    animation-delay: 0.25s;
}
h1 span:nth-child(3) {
    animation-delay: 0.5s;
}
h1 span:nth-child(4) {
    animation-delay: 0.75s;
}
h1 span:nth-child(5) {
    animation-delay: 1s;
}
h1 span:nth-child(6) {
    animation-delay: 1.25s;
}
h1 span:nth-child(7) {
    animation-delay: 1.75s;
}
h1 span:nth-child(8) {
    animation-delay: 2s;
}
@keyframes animate {
    0%,100%{
        color:black;
        filter:blur(20px);
        text-shadow:0 0 10px  #00b3ff,
                    0 0 20px  #00b3ff,
                    0 0 40px  #00b3ff,
                    0 0 80px  #00b3ff,
                    0 0 120px #00b3ff,
                    0 0 200px #00b3ff,
                    0 0 300px #00b3ff,
                    0 0 400px #00b3ff,
    }
    5%,95%{
        color:white;
        filter:blur(0px);
        text-shadow:none;
    }
}

button span:nth-child(1) {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:4px;
    background: linear-gradient(to right, #000, #fff);
    animation: animate1 1s linear infinite;
}
@keyframes animate1 {
    0% {
        transform:translateX(-100%);
    }
    100% {
        transform:translateX(100%);
    }
}

button span:nth-child(2) {
    position:absolute;
    top:0;
    right:0;
    width:4px;
    height:100%;
    background: linear-gradient(to bottom, #000, #fff);
    animation: animate2 1s linear infinite;
}

@keyframes animate2 {
    0% {
        transform:translateY(-100%);
    }
    100% {
        transform:translateY(100%);
    }
}

button span:nth-child(3) {
    position:absolute;
    bottom:0;
    right:0;
    width:100%;
    height:4px;
    background: linear-gradient(to left, #000, #fff);
    animation: animate3 1s linear infinite;
}

@keyframes animate3 {
    0% {
        transform:translateX(100%);
    }
    100% {
        transform:translateX(-100%);
    }
}

button span:nth-child(4) {
    position:absolute;
    top:0;
    left:0;
    width:4px;
    height:100%;
    background: linear-gradient(to top, #000, #fff);
    animation: animate4 1s linear infinite;
}

@keyframes animate4 {
    0% {
        transform:translateY(100%);
    }
    100% {
        transform:translateY(-100%);
    }
}

.landingPageButton
{   text-decoration: none;
color: white;}

.landingPageButton:hover{
    text-decoration: none;
color: #2c2f33;
}